
* {
	word-wrap: break-word;
}


h1{

font-size:300%;
}

h2{
font-size:120%;
padding-top: 13px;
margin-bottom: -15px;
color:#3b5998;
}

.header{
background-color: 	#3b5998;
margin-top: -20px;

}
.header2{
background-color: 	#3b5998;
}

.footer{
 clear: both;
 background-color: 	#3b5998;
text-align:center;
}

.p2{
font-size:60%;
color:white;

}
.p3{
font-size:80%;
}
.wallText{
font-size: 110%;
}


.smallLink:visited{
font-size:80%;
color:#3b5998;
text-decoration:none;
}

.wallImg{
	width: 100%;
}



.standardSec{
	background-color:#dfe3ee;
}

.largeColorsec{
	background-color:#dfe3ee;
}

.searchResults{
text-align:center;
}

.largeSec2{
background-color:#dfe3ee;
	margin-left: 15%;
	margin-top: 1%;
	margin-right:2%;
}
.wallPost{
background-color:#dfe3ee;
padding:15px;
margin-bottom:10px;
}

.postComment{
background-color:#dfe3ee;
padding:15px;
margin-bottom:10px;
margin-left:150px;
}

.placeHolder{
vertical-align:
middle;
width:100px;
height:100px;
	margin:10px;
	margin-left:25px;


}

.homeLink{
text-decoration:none;
color:white;

}
.homeLink:visited{
text-decoration:none;
color:white;

}

.sideBar{
	background-color:#8b9dc3;
}

.ad{
vertical-align:
middle;
width: 80%;
height:140px;
padding-left: 14px;
padding-top: 14px;

}

.buttons{
text-decoration:none;
color:#3b5998;
background-color:#dfe3ee;
border-style:solid;
border-width:2px;
border-color: #3b5998;
text-align:center;
margin:10px;
display: block;

}

.buttons:visited{
text-decoration:none;
color:#3b5998;
background-color:#dfe3ee;
border-style:solid;
border-width:2px;
border-color: #3b5998;
text-align:center;
margin:10px;
display: block;

}

.buttons:hover{
text-decoration:none;
color:white;
background-color:#3b5998;
border-style:solid;
border-width:2px;
border-color: white;
text-align:center;
margin:10px;
display: block;

}


.blankButton{
text-decoration:none;
color:white;
background-color:#3b5998;

text-align:center;
margin:10px;
display: block;

}

.frontSection{
	background-color:#dfe3ee;
}

.errorMsg{
color:red;
size: 75%;
}

.commentLink{
font-size:80%;
background-color:#3b5998;
color:white;
text-decoration:none;

}

.likeButton{
font-size:80%;
background-color:#3b5998;
color:white;
text-decoration:none;

}

.dislikeButton{
font-size:80%;
background-color:#3b5998;
color:white;
text-decoration:none;

}

.infoPage{
  width: 300px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 15%;
  text-align:center;
}

/* removes the default margins with the h1 element. */
.header2 h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*form legend has weird formating that causes margin issues. this is the cleanest
method of cleaning this up so that things don't extend out of the box.

NOTE: keep these colors the same as the color of the box*/
.loginSection {
	padding-left: 25px;
	background-color: #dfe3ee;
	border: 1px solid #dfe3ee;
}

/*removing the default margins with the h1 element. */
.header h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*form legend has weird formating that causes margin issues. this is the cleanest
method of cleaning this up so that things don't extend out of the box.

NOTE: keep these colors the same as the color of the box*/
.signupSection {
	background-color: #dfe3ee;
	border: 1px solid #dfe3ee;
	margin-top: 51px;
	padding-left: 10px;
	padding-right: 10px;
}

.textBox {
	width: 100%;
}