
* {
	word-wrap: break-word;
}


h1{

font-size:300%;
}

h2{
font-size:120%;
padding-top: 13px;
margin-bottom: -15px;
color:#3b5998;
}

.header{
background-color: 	#333333;
margin-top: -20px;
color: #f8b031;

}
.header2{
background-color: 	#333333;
color: #f8b031;
}

.footer{
 clear: both;
 background-color: 	#333333;
text-align:center;
}

.p2{
font-size:60%;
color:white;

}
.p3{
font-size:80%;
}
.wallText{
font-size: 110%;
}


.smallLink:visited{
font-size:80%;
color:#3b5998;
text-decoration:none;
}

.wallImg{
	height: 250px;
	width: 350px;
}



.standardSec{
	background-color: #d8e5d9;
}

.largeColorsec{
	background-color: #d8e5d9;
}

.searchResults{
text-align:center;
}

.largeSec2{
background-color: #d8e5d9;
	margin-left: 15%;
	margin-top: 1%;
	margin-right:2%;
}
.wallPost{
background-color: #d8e5d9;
padding:15px;
margin-bottom:10px;
}

.postComment{
background-color: #d8e5d9;
padding:15px;
margin-bottom:10px;
margin-left:150px;
}

.placeHolder{
vertical-align:
middle;
width:115px;
height:100px;
	margin:10px;
	margin-left:25px;


}

.homeLink{
text-decoration:none;
color: #ffda30;
}

.homeLink:hover {
	text-decoration: none;
	color: #ffda30;
}

}
.homeLink:visited{
text-decoration:none;
color: #ffda30;

}

.sideBarCol{
	background-color: #595959;
	margin-left: 15px;
	margin-right: 15px;
	/*used important so it overides bootstrap in this instance*/
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.ad{
vertical-align:
middle;
width: 80%;
height:140px;
padding-left: 14px;
padding-top: 14px;

}

.buttons{
text-decoration:none;
color: black;
background-color: #ffc82e;
border-style:solid;
border-width:2px;
border-color: #a5811d;
text-align:center;
margin:10px;
display: block;

}

.buttons:visited{
text-decoration:none;
color: black;
background-color: #ffc82e;
border-style:solid;
border-width:2px;
border-color: #a5811d;
text-align:center;
margin:10px;
display: block;

}

.buttons:hover{
text-decoration:none;
color: black;
background-color: #ffdf85;
border-style:solid;
border-width:2px;
border-color: #a5811d;
text-align:center;
margin:10px;
display: block;

}


.blankButton{
text-decoration:none;
color: black;
background-color: #a5811d;

text-align:center;
margin:10px;
display: block;

}

.frontSection{
	background-color: #d8e5d9;
}

.errorMsg{
color:red;
size: 75%;
}

.commentLink{
font-size:80%;
background-color:#3b5998;
color:white;
text-decoration:none;

}

.likeButton{
font-size:80%;
background-color:#3b5998;
color:white;
text-decoration:none;

}

.dislikeButton{
font-size:80%;
background-color:#3b5998;
color:white;
text-decoration:none;

}

.infoPage{
  width: 300px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 15%;
  text-align:center;
}

/* removes the default margins with the h1 element. */
.header2 h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*form legend has weird formating that causes margin issues. this is the cleanest
method of cleaning this up so that things don't extend out of the box.

NOTE: keep these colors the same as the color of the box*/
.loginSection {
	background-color: #d8e5d9;
	border: 1px solid #d8e5d9;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
}

/*removing the default margins with the h1 element. */
.header h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*form legend has weird formating that causes margin issues. this is the cleanest
method of cleaning this up so that things don't extend out of the box.

NOTE: keep these colors the same as the color of the box*/
.signupSection {
	background-color: #d8e5d9;
	border: 1px solid #d8e5d9;
	margin-top: 25px;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.textBox {
	width: 100%;
}

.largeSec {
	margin-top: 30px;
	margin-bottom: 15px;
}

/* used to make all columns in a row equal height */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* used to make all columns in a row equal height */
.row-eq-height > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}

.selectBox {
	width: 120px;
}

.SelectOptions {
	margin-bottom: 5px;
}

.contentButtons {
	text-decoration:none;
	color: black;
	background-color: #ffc82e;
	border-style:solid;
	border-width:2px;
	border-color: #a5811d;
	text-align:center;
	margin-right: 10px;
}

.contentButtons:hover {
	text-decoration:none;
	color: black;
	background-color: #ffdf85;
	border-style:solid;
	border-width:2px;
	border-color: #a5811d;
	text-align:center;
	margin-right: 10px;
}

.contentRow {
	min-height: 700px;
}
